<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring Backbone App</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

    <header>
        <h1>Todos by Backbone.js</h1>
        <div id="subheader"></div>
    </header>
    
    <script id="subheaderTmpl" type="text/template">
     <input id="new-todo" type="text" placeholder="What needs to be done?"/>
      <button id="add_todo" class="button-add" role="button">Add</button> 
    </script>
    
    <div id="allToDos"></div>
    
    <script id="toDoElement" type="text/template">
        <input id="toDo" type="checkbox" name="todo" <% if (done) { %>checked="checked"<% } %>><%= title %> 
        <button id="delete_todo" class="button-js" role="button">Delete</button>  
    </script>
    
    <div id="controls"></div>
    
    <script id="completedBtn" type="text/template">
    	<a href="#completedToDos" id="completed_todos" class="button-js button_green">View completed todos</a>
    </script>
   
   <ul id="completedView"></ul>
   
   <script id="completedToDoTmpl" type="text/template">
		<li id="compl_todo"><%= title %></li>
	</script>
   
    <script src="js/libs/jquery.js"></script>
    <script src="js/libs/underscore.js"></script>
    <script src="js/libs/backbone.js"></script>

    <script type="text/javascript" src="resource/todoData.js"></script>
    
    <script src="js/models/ToDoModel.js"></script>
    <script src="js/models/SubheaderModel.js"></script>
    <script src="js/models/ControlsModel.js"></script>
    <script src="js/models/AllCompletedTodosModel.js"></script>
    <script src="js/collections/ToDoCollection.js"></script>
    <script src="js/views/AllToDosView.js"></script>
    <script src="js/views/ToDoView.js"></script>
    <script src="js/views/SubheaderView.js"></script>
    <script src="js/views/ControlsView.js"></script>
    <script src="js/views/CompletedToDoView.js"></script>
    <script src="js/views/AllCompletedTodosView.js"></script>
    <script src="js/router/Router.js"></script>
    <script src="js/main/ToDoApp.js"></script>
   
</body>
</html>